.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.blocks {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    cursor: pointer;
  }

  @media (max-width: 900px) {
    .content {
        flex-direction: column;
        padding-top: 30px;
    }
  }